<div *ngIf="survey" class = "row whitePurpleContainer">
    <div class = "col-sm-12 d-flex">
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de creación: <p class= "dates">{{survey.creationDate  | date: 'dd/MM/yyyy'}}</p></h5>
    </div>
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de publicación: <p class= "dates">{{survey.startDate  | date: 'dd/MM/yyyy'}}</p></h5>
    </div>
    <div class = 'text-center col-sm-4'>
        <h5 i18n>Fecha de cierre: <p class= "dates">{{survey.endDate  | date: 'dd/MM/yyyy'}}</p></h5>
    </div>
    </div>
</div>